<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除group部门</title>
</head>
<body>
<div align="center">
    <h1>删除删除group部门部门</h1>
    <hr>
    {#        设置<form>表单的method="post",当单击“保存”按钮时，向后端发送post请求#}
    <form action="" method="post">
        {#            Django安全机制，防止CSRF#}
        {% csrf_token %}
        <input type="text" name="id" id="id" value="{{ group.id }}">
{#        <input type="hidden" name="id" id="id" value="{{ group.id }}">#}
            <input type="submit" value="确定删除该group部门">
    </form>
    {#        错误信息显示在这里#}
    {{ error_info }}
</div>
</body>
</html>